.cal
{
    
    margin: auto;
    /*border: 2px solid black;*/
    border-radius: 20px;
    height: 600px;
    width: 380px;
    background-color:  #ecf0f3;
    border: 15px solid   #ecf0f3;

    box-shadow: 6px 6px rgb(187, 182, 182);
    box-shadow: 6px 6px rgb(196, 194, 194);

}
.button
{

    width: 70px;
    height: 70px;
    
    font-size: 30px;
    background-color: #ecf0f3;

    border-radius: 100%;
    box-shadow: 2px 3px   rgb(187, 182, 182);
}
.button.button:active
{
  background-color: blue;
  
}
#clearbutton
{
   width: 150px;
   height: 65px;
   font-size: x-large;
   
   border-radius: 38px;
    
}

.display-box
{
    width: 100%;
    height: 55px;
    font-size: 30px;
    border-radius: 30px;
    background-color: #ecf0f3;
    padding-left: 6px;
}